header {
    margin-top: 2%;
    margin-left: 7%;
    width: 100%;
}

header .btn-group {
    display:inline-block;
    position: absolute;
    right: 7%;
}

.btn {
    border-radius: 0 !important;
    box-shadow: 0 10px 10px -6px black;
}

hr {
    margin-left: auto !important;
    margin-right: auto !important;
    width: 90%;
}

#content {
    margin-left: 5%;
    margin-right: 5%;
}

.card-content {
    text-align: center;
    padding-bottom: 10%;
}

label {
    font-weight: bold;
}

.error {
    font-weight: bold;
    color: darkred;
}